<strong>Olá, {{ organizer }}</strong>
<p>Um novo usuário se inscreveu para o seu meetup:</p>
<p>
  <strong>Meetup: </strong> {{ title }} que acontece em <strong>{{ location }}</strong><br>
  <strong>Data/Hora: </strong> {{ date }} <br>
  <strong>Usuario: </strong> {{ user }} <br>
  <br>
  <small>Acompanhe diariamente seus meetups</small>
</p>